<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet">
    <script src="../static/sockjs.min.js" th:src="@{/sockjs.min.js}"></script>
    <script src="../static/stomp.min.js" th:src="@{/stomp.min.js}"></script>
    <script src="../static/jquery.min.js" th:src="@{/jquery.min.js}"></script>
    <script src="../static/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
    <script src="../static/WebSocketController.js" th:src="@{/WebSocketController.js}"></script>
</head>
<body>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Create new chat
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <button type="button" id="createChat" class="btn-primary">Create chat</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Connect to chat
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group" id="createRoom">
                        <input type="text" id="roomId" class="form-control">
                        <button type="button" id="connectToChat" class="btn-primary">Connect to chat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Exit
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <button type="button" id="exitButton" class="btn-primary">Exit chat</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="inputDiv" style="display: none">
        <input type="text" id="msgText" placeholder="Write a message..." class="form-control"/>
        <button id="sendMessage" class="btn-primary">Send</button>
    </div>
    <ul id="mediaList" class="list-unstyled"></ul>
</div>

</body>
</html>